<nav class="header js-header js-mobile-nav--container">
    <a href="./" title="PayCoiner" class="header__logo">
        <img src="./images/logo.png" alt="PayCoiner" class="header__logo-image" />
    </a>
    <span class="hamburger js-mobile-nav--switch">
        <span></span>
        <span></span>
        <span></span>
    </span>
</nav>