.feature__container {
    padding-left: 45px;
    padding-right: 45px;

    @include media-breakpoint-down(xl) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.img-container {
    font-size: 0;
}

.team {
    position: relative;
    background: #0c9acf;
    &::before {
        @include cover-absolute;
        @include parallax(url(../images/bg/people.png));
        mix-blend-mode: screen;
        transform: scale(1.1);
    }
}

.price {
    color: $price;
}

.currency-logos {
    > * {
        flex: 1 1 30%;
        width: auto;
    }
}
