.news {
    $n: &;

    &__item {
        position: relative;
        display: block;
        border-radius: 3px;
        border: 1px solid $news-border-color;
        overflow: hidden;

        &:hover {
            #{$n}__image {
                transform: scale(1.1);
            }
        }
    }

    &__image {
        display: block;
        transition: $transition-time;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        color: $txt-primary;
        line-height: 1;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 20px 30px;
        background: rgba(0,0,0,0.6);
    }

    &__text-container {
        padding: 20px;

        .section__header {
            line-height: 1;
            margin-bottom: 10px;
        }
    }

    &__more-button {
        margin-top: 20px;
    }

    &__more-container {
        display: none;
    }

    @include media-breakpoint-down(xl) {
        &__title {
            font-size: 18px;
        }
    }

    @include media-breakpoint-down(lg) {
        &__item-col {
            width: 50% !important;
        }

        &__text-col {
            width: 100% !important;
            margin: 30px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 20px;
            }

            .news__text-container {
                padding: 0 !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__image {
            width: 100%;
        }
    }
}