@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans/OpenSans-Regular_3.ttf')  format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans/OpenSans-Bold_3.ttf')  format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans/OpenSans-ExtraBold_3.ttf')  format('truetype');
  font-style: normal;
  font-weight: 800;
}



