$social: fb tg tt vk we yt;

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__social {
        display: inline-flex;
        width: 16px;
        height: 16px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        @each $icon in $social {
            &--#{$icon} {
                background-image: url(../images/social/#{$icon}.svg);
            }
        }
    }

    &__scroll {
        width: 38px;
        height: 38px;
        background: rgba(1, 152, 208, 0.5);
        border-radius: 50%;
        &::after {
            content: '';
            width: 16px;
            height: 21px;
            background: url(../images/icon/arrowdown.svg) 0 0 no-repeat;
        }
    }

    &__arrow {
        background: $trailer-nav;
        width: 66px;
        height: 66px;
        border-radius: 50%;

        &::after {
            content: '';
            width: 21px;
            height: 17px;
            background: url(../images/icon/arrowright.svg) 0 0 no-repeat;
        }

        &--left {
            transform: rotate(180deg);
            &::after {
            }
        }

        &--right {
            &::after {
            }
        }
    }

    &__play {
        background: #fff;
        width: 89px;
        height: 89px;
        border-radius: 50%;

        &::after {
            margin-left: 5px;
            content: '';
            width: 16px;
            height: 30px;
            background: url(../images/icon/play.svg) 0 0 no-repeat;
        }
    }

    &__feature {
        width: 110px;
        height: 110px;
        background: $bg-neg;
        border-radius: 50%;

        &::after {
            content: '';
            display: block;
        }

        &--rocket {
            &::after {
                width: 88px;
                height: 86px;
                background: url(../images/feature/rocket.svg) 0 0 no-repeat;
            }
        }

        &--double-spend {
            &::after {
                width: 89px;
                height: 71px;
                background: url(../images/feature/double-spend.svg) 0 0 no-repeat;
            }
        }

        &--fees {
            &::after {
                width: 83px;
                height: 78px;
                background: url(../images/feature/fees-ic.svg) 0 0 no-repeat;
                margin-left: 10px;
            }

        }
    }
}