/*
  Colors
  */

// Text
$header: #110455;
$txt-primary: #373737;
$txt-secondary: #f98005;

// Buttons
$button: #f98005;
$button-hover: #fff;
$button-txt: #fff;
$button-txt-hover: #f98005;

// Forms
$input-bg: #1b599d;
$input-bg-active: #15457f;
$input-color: #fff;
$input-placeholder-color: rgba(#c7e5f1, 0.5);
$input-border-color: #578899;
$input-border-color-active: #0198d0;
$input-error-border-color: #f66;
$input-error-color: #f66;

// Links
$link: $txt-secondary;

// Misc

/*
  Breakpoints
  */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


/*
  Transitions
 */
$transition-time: 0.3s;


/*
  Gutters
 */
$gutter: 16px;

