<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PayCoiner</title>
    <meta name="description" content="">

    <link rel="shortcut icon" type="image/png" href="{{ config.assetsPath }}/images/favicon.png">
    <link rel="stylesheet" href="{{ config.assetsPath }}/vendor/aos/aos.css">
    <link rel="stylesheet" href="{{ config.assetsPath }}/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{ config.assetsPath }}/css/main.min.css?v={{ config.assetsVersion }}">
</head>
<body>
    {% include 'partials/header.njk' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.njk' %}
    <script src="{{ config.assetsPath }}/vendor/jquery-3.3.1.min.js"></script>
    <script src="{{ config.assetsPath }}/vendor/aos/aos.js"></script>
    <script src="{{ config.assetsPath }}/vendor/slick/slick.min.js"></script>
    <script src="{{ config.assetsPath }}/vendor/parsley.min.js"></script>
    <script src="{{ config.assetsPath }}/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="{{ config.assetsPath }}/scripts/global.min.js?v={{ config.assetsVersion }}"></script>
</body>
</html>