{% extends 'template.njk' %}

{% block content %}
{#    {% include 'partials/index/slider.njk' %}
    {% include 'partials/index/features.njk' %}
    {% include 'partials/index/redefine.njk' %}
    {% include 'partials/index/timeline.njk' %}
    {% include 'partials/index/market-performance.njk' %}
    {% include 'partials/index/safe-wallet.njk' %}
    {% include 'partials/index/team.njk' %}
    {% include 'partials/index/news.njk' %}
    {% include 'partials/index/trailers.njk' %}
    {% include 'partials/index/partners.njk' %}
    {% include 'partials/index/newsletter.njk' %}#}
{% endblock %}